#logo {
    position: fixed;
    z-index: 100;
    top: 0; left: 0;
    background-color: #333;
    box-shadow: 0 0 10px black;
}
#logo img {
    height: 113px;
    width: 93px;
}
#menu-bar {
    position: fixed;
    z-index: 99;
    top: 0; left: 0;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px black;
}
#menu-bar ul {
    display: inline-block;
    padding: 0 0 0 113px;
    margin: auto;
    height: auto;
}
#menu-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 17px 0;
}
#menu-bar a {
    color: white;
    text-decoration: none;
    padding: 17px 12px;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    background-color: #333;
}
#menu-bar a:hover {
    text-decoration: underline;
    background-color: #111;
}
#alert {
    width: 100%;
    height: 30px;
    background-color: #111;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    position: fixed;
    top: 0; left: 0;
}
#alert p {
    float: left;
    height: 22px;
    width: auto;
    margin: 0;
    position: absolute;
    top: 8px; left: 0; right: 0; bottom: 0;
}
#account-info {
    z-index: 9;
    width:150px;
    position: fixed;
    top: 50px;
    right: 0px;
    background-color: #333;
    border-radius: 4px;
    padding: 10px 20px;
    text-align:center;
    box-shadow: 0 0 10px black;
}
#account-info a {
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}
#account-info a:hover {
    text-decoration: underline;
}
#dropdown{
    position:relative;
    height:10px;
    right:0;
    transition: height .5s ease-out;
    z-index:999;
}
#dropdown a:hover{
    cursor:pointer;  
}
#dropimage{
    height:10px;
    width:10px;
    position:absolute;
    right:87px;
    bottom:0;
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
#create{
    display:none;
}