.faq ul{
	overflow:auto;
	margin:1%;
	padding:5px 0 5px 0;
	border-radius:14px;
	background-color: #333;
}
.faq ul h1{
	margin:auto;
	text-align: center;
	color:white;
}
.faq ul{
	overflow-y: scroll;
	height:95%;
	padding-bottom: 5px;
}
.faq {
	width: 100%;
	height: 70%;
    font-family: 'PT Sans', sans-serif;
	font-size: 2vh;
	display: block;
	text-align: left;
	position:absolute;
	top:18%;
	overflow: hidden;
}
#here{
	color: #BE5D16;
}
.faq h1{
	font-size:5vh;
}
.faq li {
	width: 80%;
	margin:0 0 0 2%;
	list-style-type: none;
	font-weight: bold;
	font-size: 2.8vh;
	color: white;
	background-color: #333;
	padding-bottom: 2px;
}

.faq p {
	width:95%;
	border-radius:3px;
	margin:auto;
	margin-bottom: 15px;
	margin-top: 2px;
	text-decoration: none;
	font-size: 2.2vh;
	z-index: 2;
	color:white;
	max-height: 300px;
}
.faq ul ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.faq ul ::-webkit-scrollbar
{
    border-radius: 10px;
	width: 12px;
	background-color: #F5F5F5;
}

.faq ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #aaa;
}
#flags{
    position:absolute;
    width:98px;
    top: 65px;
    left:9%;
    padding:12px 10px 12px 10px;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
	border:none;
    box-shadow: 0 0 20px black;
	border-radius:4px;
	outline:none;
}