#top-bar {
    height: auto;
    width:  100%;
    position: fixed;
    top: 0; left: 0;
    background-color: #666;
}#top-bar ul {    display: inline-block;    padding: 0 22px 0 22px;    margin: auto;    height: auto;    width: 100% - 44px;}#top-bar ul li {    list-style: none;    display: inline-block;    margin: 0;    padding: 22px 0;}#top-bar a {    color: white;    text-decoration: none;    padding: 22px 17px;    font-family: 'Roboto Slab', sans-serif;    margin: 0;    background-color: #666;}#top-bar a:hover {    text-decoration: underline;    background-color: #444;}#account-button {    float: right;}body {    background-color: #eee;}