body {
  width: 80%;
  min-width: 150px;
  margin: 0 auto 0 auto;
  background-color: #ccc;
  font-family: sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin: 2% 0 2% 0;
}
h2 {
  margin: 20px 0px 0px 0px;
}
#menu {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 2% auto;
  padding: 0;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li {
  float: left;
}
#menu li a {
  display: inline-block;
  color: #fff;
  padding: 15px;
  margin: 0;
  font-size: 17px;
  text-decoration: none;
}
#menu li a:hover {
  text-decoration: underline;
  background-color: #111;
}
#menu li#rightElement {
  float: right;
}
.add {
  background-color: #ccc;
  border-radius: 10px;
  border-color: #333;
  border: solid;
  border-width: 2px; 
  overflow: hidden;
  min-width: 300px;
  width: 30%;
  padding: 10px 0 10px 0;
  margin: 0px 5% 20px 0px;
  text-align: center;
  display: inline-block;
  float: left;
}
.add td {
  min-width: 60px;
}
.add form {
  padding: 0 0 0 10px;
}
.add table{
  width: 100%;
}
td select{
  width: 170px;
}
td .title{
  padding-bottom: 19px;
}
#tables {
  width: 100%;
  border-radius: 20px;
}
#tables h2 {
  clear: both;
}
#tables {
  width: 100%;
  border-radius: 20px;
  padding-bottom: 5%;
}
#tables table {
  border: 0px groove;
  border-radius: 25px;
  border-collapse: collapse;
  width: 100%;
}
#tables .data {
  background-color: #aaa;
  margin: 1px 0 0 0;
  border-top: 1px solid #ccc;
}
#tables .data td {
  padding: 15px;
  text-align: left;
  color: black;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#tables table#admin .data td {
  padding: 5px;
  color: black;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#tables .data td.center {
  text-align: center;
}
#tables .data input[type=submit] {
  background-color: #eee;
  border: 0px solid;
  padding: 10px;
  border-radius: 10px;
}
#tables .data input[type=submit]:hover {
  background-color: #ddd;
}
#tables .data select {
  background-color: #eee;
  margin-bottom: 4px;
  padding: 4px;
}
#tables .data select:focus {
  background-color: #ddd;
}
#tables .data select:hover {
  background-color: #ddd;
}
#tables .emptyData {
  background-color: #aaa;
  margin: 1px 0 0 0;
}
#tables .emptyData td {
  text-align: center;
  padding: 15px;
  color: #555;
  font-style: italic;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#tables .head {
  background-color: #333;
  color: white;
}
#tables .head th {
  padding: 15px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#submitForm table {
  width: 100%;
  margin: 10px 0 0 0;
}
#submitForm .label {
  width: auto;
  text-align: right;
  float: right;
  min-width: 90px;
  color: #333;
  font-weight: bold;
  padding: 15px;
}
#submitForm input[type=text] {
  background-color: #eee;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  width: 70%;
  padding: 15px;
}
#submitForm input[type=text]:focus {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  background-color: #ddd;
  width: 70%;
}
#submitForm textarea {
  width: 97%;
  height: 100px;
  resize: none;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #eee;
  font-family: sans-serif;
  font-size: 15px;
}
#submitForm textarea:focus {
  width: 97%;
  height: 100px;
  resize: none;
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  background-color: #ddd;
  font-family: sans-serif;
}
#submitForm input[type=submit] {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #eee;
  font-weight: bold;
  font-size: 15px;
}
#submitForm input[type=submit]:focus {
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #ddd;
  font-weight: bold;
  font-size: 15px;
}
#submitForm input[type=submit]:hover {
  background-color: #ddd;
}
#submit{
  display: block;
  margin: 0 auto;
}
.subscript {
  color: #999;
  font-size: 15px;
}